absl-py==0.13.0
aiohttp==3.7.4.post0
antlr4-python3-runtime==4.9.2
astunparse==1.6.3
async-timeout==3.0.1
attrs==21.2.0
backports.entry-points-selectable==1.1.0
CacheControl==0.12.6
cachetools==4.2.2
cachy==0.3.0
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
cleo==0.8.1
click==8.0.1
clikit==0.6.2
crashtest==0.3.1
cryptography==3.4.8
cs50==7.0.2
cycler==0.10.0
datadispatch @ file:///home/runner/.cache/pypoetry/artifacts/68/a7/46/e21dcfa92c2ee900c0f92c5e9da003cff804c5ed956d4249af6564e5d3/datadispatch-1.0.0-py3-none-any.whl
debugpy==1.2.1
discord @ file:///home/runner/.cache/pypoetry/artifacts/2a/dc/46/ea51f1b99fab3043473352404824cf8774020f4ef65ef7e8985e928ce3/discord-1.7.3-py3-none-any.whl
discord.py @ file:///home/runner/.cache/pypoetry/artifacts/93/3d/7e/a71579025e378cc8608f84db0999aa01171575fc9bd9078988d8520a75/discord.py-1.7.3-py3-none-any.whl
distlib==0.3.2
docopt==0.6.2
filelock==3.0.12
Flask==2.0.1
funcsigs==1.0.2
future==0.18.2
gast==0.3.3
glfw==2.2.0
google-api-core @ file:///home/runner/.cache/pypoetry/artifacts/43/f8/2d/5ecff37a06e9a5526dfa38be363dd9b936d09afcca8598ba9d7841d7ec/google_api_core-2.0.0-py2.py3-none-any.whl
google-api-python-client @ file:///home/runner/.cache/pypoetry/artifacts/66/f7/c0/88f4bc4b6aceac43e5719c068fad70086384441dcfcb04d37b56cda114/google_api_python_client-2.18.0-py2.py3-none-any.whl
google-auth @ file:///home/runner/.cache/pypoetry/artifacts/6c/75/e6/6bcf96f6cf67ae8e2fec3d9bf2e0f05969d349c31dabd56266d0912e65/google_auth-2.0.1-py2.py3-none-any.whl
google-auth-httplib2 @ file:///home/runner/.cache/pypoetry/artifacts/8f/af/ef/b0ed813928214c713a59a3ffc1c3252ddfa434103d03867a79b573d8d1/google_auth_httplib2-0.1.0-py2.py3-none-any.whl
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos @ file:///home/runner/.cache/pypoetry/artifacts/8c/2e/ad/efdce99c62dbe56fda156dd62f807ea79a43f83dea45bd9f9ff4bc6240/googleapis_common_protos-1.53.0-py2.py3-none-any.whl
greenlet==1.1.1
grpcio==1.40.0
h5py==2.10.0
html5lib==1.1
httplib2 @ file:///home/runner/.cache/pypoetry/artifacts/e1/48/31/404ee96ef34e07fa1f47f090d45a45a66b0e21783505165929d375b23b/httplib2-0.19.1-py3-none-any.whl
idna==3.2
importlib-metadata==3.10.1
itsdangerous==2.0.1
jedi==0.15.2
jeepney==0.7.1
Jinja2==3.0.1
joblib==1.0.1
Keras-Preprocessing==1.1.2
keyring==21.8.0
kiwisolver==1.3.2
lockfile==0.12.2
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.3
msgpack==1.0.2
multidict @ file:///home/runner/.cache/pypoetry/artifacts/f5/69/c1/e8ec31c0813b46446f7a336c67e8d136d12ab12dc65e13bb8cd1b530ab/multidict-5.2.0-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl
nltk==3.6.2
numpy==1.21.2
oauthlib==3.1.1
opt-einsum==3.3.0
packaging==20.9
parso==0.5.2
pastel==0.2.1
pexpect==4.8.0
Pillow==8.3.2
pipreqs-amasad==0.4.10
pkginfo==1.7.1
platformdirs==2.3.0
pluggy==0.13.1
poetry==1.1.6
poetry-core==1.0.4
protobuf==3.17.3
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyflakes==2.1.1
pygame==2.0.1
pylev==1.4.0
PyOpenGL==3.1.5
pyparsing==2.4.7
pyquil==1.9.0
python-dateutil==2.8.2
python-jsonrpc-server==0.3.2
python-language-server==0.31.10
pyxel @ git+https://github.com/amasad/pyxel@8bcc2266b2fbb65f72ad686952de3838971c136e
referenceqvm==0.3
regex==2021.8.28
replit==3.2.4
requests==2.26.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rope==0.18.0
rsa==4.7.2
scipy==1.4.1
SecretStorage==3.3.1
shellingham==1.4.0
six==1.16.0
sounddevice==0.4.2
SQLAlchemy==1.4.23
sqlparse==0.4.2
tasks @ file:///home/runner/.cache/pypoetry/artifacts/7c/07/dc/0f1e7c02db1858ac01a0adadaa9f31a6e55a456f94593a2b9809c51cdc/tasks-2.8.0-py3-none-any.whl
tensorboard==2.2.2
tensorboard-plugin-wit==1.8.0
tensorflow-cpu @ https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow_cpu-2.2.0-cp38-cp38-manylinux2010_x86_64.whl
tensorflow-estimator==2.2.0
termcolor==1.1.0
toml==0.10.2
tomlkit==0.7.2
tqdm==4.62.2
typing-extensions @ file:///home/runner/.cache/pypoetry/artifacts/63/00/66/294e7d75d34398c27c7ed9b154822f99422b0f11548b11c569c188eb2b/typing_extensions-3.10.0.2-py3-none-any.whl
ujson==1.35
uritemplate @ file:///home/runner/.cache/pypoetry/artifacts/a6/e2/0c/627cbb3eacf8e86a747b83a6d52fe5431ce0b56eadbac5d9d86176dfb8/uritemplate-3.0.1-py2.py3-none-any.whl
urllib3==1.26.6
virtualenv==20.7.2
webencodings==0.5.1
Werkzeug==2.0.1
wrapt==1.12.1
yapf==0.31.0
yarg==0.1.9
yarl @ file:///home/runner/.cache/pypoetry/artifacts/ac/03/ff/12ac6fa33c8edf31222709a7be9d54e798e27e816eecfcaae489f8a991/yarl-1.7.0-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl
zipp==3.4.1
